.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 5%;
  text-align: center;
}
.section-head {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-head p {
  font-size: 16px;
  width: 70%;
}

.section .ball {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.section .ball .a {
  background: #344ac1;
  padding: 5%;
  color: #fff;
  text-align: justify;
}
.ball .a img {
  padding-bottom: 15%;
}
.ball .a h3 {
  padding-bottom: 10%;
}
.section .ball .b {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  text-align: left;
}
.section .ball .b .b-one {
  background: #388a7c;
  padding: 15%;
  margin-bottom: 4%;
}
.section .ball .b .b-two {
  background: #000;
  color: #fff;
  padding: 15%;
}

.ball .b img {
  padding-bottom: 15%;
}
.ball .b h3 {
  padding-bottom: 10%;
}

@media screen and (max-width: 800px) {
  .section {
    text-align: center;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: column;
    gap: 30px;
  }

  .section-head {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
