h1 {
  font-size: 48px;
}
.header {
  padding: 0 5%;

  background-color: #3a3089;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 10%;
}
.hamburger {
  display: none;
}
.nav-lists ul {
  display: inline-flex;
  list-style-type: none;
}
.nav-lists ul a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.nav-lists ul li {
  margin-right: 8px;
  color: #fff;
  transition: 0.5s ease-out;
}
.nav-lists ul li:hover {
  background-color: #f7669d;
  padding: 5px;
  border-radius: 5px;
}
.contact a {
  background: #f7669d;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  transition: 0.5s ease;
}
.contact a:hover {
  border: 1px solid #f7669d;
  background: transparent;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  transition: 0.5s ease;
}

.hamburger {
  display: none;
}
.hamburgerList {
  display: none;
}

@media screen and (max-width: 800px) {
  .header {
    background-color: #3a3089;

    padding: 0 6%;
    position: sticky;
    top: 0;
    height: 70px;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header img {
    width: 20%;
  }

  .nav-lists {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    color: hsl(0, 0%, 75%);
  }
  .hamburgerList {
    margin-top: 5%;
    border-radius: 8px;
    background-color: #3a3089;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5%;
    text-align: center;
    width: 100%;
  }
  .hamburgerList ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 5%;
  }
  .hamburgerList ul a {
    text-decoration: none;
    color: #fff;
  }
  .hamburgerList ul a:hover {
    background-color: #f7669d;
    padding: 5px;
    border-radius: 5px;
  }
}
